@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:25px">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"><b>Energiforbedring</b></th>
                <th scope="col"><b>Tilskud</b></th>
                <th scope="col"><b>Årlig besparelse</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var calculator in ViewBag.discounts.calculators)
            {
                <tr>
                    <td>@calculator.energyImprovement</td>
                    <td>@calculator.grant kr.</td>
                    <td>@calculator.yearlyDiscount kr/år.</td>
                </tr>
                
            }
        </tbody>
    </table>
</div>
