@{
    ViewBag.Title = "Home Page";
}
<div style="margin-top:200px; min-height: calc(100vh - 125px);">
    <form action="@Url.Action("Index","Calculation")" style="display:flex">
        <label style="margin-right:5px" for="pnummer">Postnummer:</label><br>
        <input style="margin-right:10px" align="left" type="text" id="pnummer" placeholder="Postnummer"><br>
        <label style="margin-right:5px" for="adresse">Adresse:</label><br>
        <input style="margin-right:10px" align="left" type="text" id="adresse" placeholder="Adresse"><br>
        <label style="margin-right:5px" for="husnummer">Husnummer:</label><br>
        <input style="margin-right:10px" align="left" type="text" id="husnummer" placeholder="Husnummer"><br>
        <input style="margin-left:15px" align="left" type="submit" value="Beregn tilskud">
    </form>
</div>



