@{
    ViewBag.Title = "Login";
}
<div style="margin-top:200px; min-height: calc(100vh - 125px);">
        <form action="/login" style="display: flex; justify-content: center">
            <label style="margin-right:5px" for="bNavn">Brugernavn:</label><br>
            <input style="margin-right:10px" align="left" type="text" id="bNavn" placeholder="Brugernavn"><br>
            <label style="margin-right:5px" for="aKode">Adgangskode:</label><br>
            <input style="margin-right:10px" align="left" type="password" id="aKode" placeholder="Adgangskode"><br>
            <input style="margin-left:15px" align="left" type="submit" value="Login">
        </form>
</div>
